#clients{
    overflow: hidden;
    width: 100vw;
    height: calc(100vh-4rem);
    margin-bottom: 5rem;
    max-width: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 5rem;
    margin-top: 5rem;
    justify-items: center;

    /* height: calc(100vh - 5rem); */
}

.clientTitle {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
    margin-top: 2rem;
    justify-self: center;
    position: relative;

    margin-top: 5rem;
    
}

.clientPara{
    justify-content: space-between;
    
}



.image {
    object-fit: cover;
    height: 7rem;
}

.clientList{
    display: flex;
    flex-direction: row;

}

.clientComponent {
    padding: 2rem;
    margin: 2rem;
    border: 2px solid white;
    border-radius: 4rem;
    background-color: rgb(29, 29, 29);
    width: 25vw;
}

.clientComponent:hover {
    background-color: rgb(59, 59, 59);
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 200;
}

#contact {
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contactTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-top: 2rem;
    justify-self: center;
    position: relative;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(29, 29, 29);
}

.submitBtn {
    background: white;
    color: black;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

.submitBtn:hover {
    background-color: skyblue;
    cursor: pointer;
}

#emailIcon {
    padding-right: 0.4rem;
}

@media screen and (max-width:750px) {
    .clientList{
        display: flex;
        flex-direction: column;
    }
    .clientComponent{
        width: 75vw;
    }
}