#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bgPhoto {
    position: absolute;
    top: -5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#helloElm  {
    font-size: 2.5rem;
    font-weight: 600;
}

#im {
    font-size: 6rem;
    font-weight: 600;
}

#isuru {
    color: skyblue;
}

#desig {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(255, 0, 0);
}

#para {
    font-size: 1.2rem;
}

.hireMeBtn {
    background: white;
    width: 100px;
    color: black;
    border: none;
    padding: 0.6rem;
    border-radius: 1rem;
}

.hireMeBtn:hover {
    background-color: skyblue;
    cursor: pointer;
}

.hireMeBtnImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.cvBtn {
    background: white;
    width: 150px;
    color: black;
    border: none;
    padding: 0.6rem;
    border-radius: 1rem;
}

.cvBtn:hover {
    background-color: skyblue;
    cursor: pointer;
}

.cvBtnImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}


@media screen and (max-width:1200px) {
    .bgPhoto {
        right: -20vw;
    }
}
@media screen and (max-width:950px) {
    .bgPhoto {
        right: -15vw;
    }    
}
@media screen and (max-width:750px) {
    .bgPhoto {
        right: -30vw;
    }    
}
@media screen and (max-width:500px) {
    .bgPhoto {
        right: -70vw;
    }

    #helloElm  {
        font-size: 1.5rem;
        font-weight: 600;
    }

    #im {
        font-size: 3rem;
        font-weight: 600;
    }

    #isuru {
        color: skyblue;
    }

    #desig {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(255, 0, 0);
    }

    #para {
        font-size: 0.8rem;
    }
    .hireMeBtn{
        display: none;
    }



}

.buttonList{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buttonListItem {
    margin: 0.5rem;
}

#btnxx {
    object-fit: cover;
    font-size: 30px;
    color: white;
}
#btnxx:hover{
    color: skyblue
}